@font-face {
    font-family: 'Barlow';
    src: url('/fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  /* Aplicación global de la fuente */
  body {
    font-family: 'Barlow', sans-serif;
  }
  
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  
  